<nav id="nav">
  <ul>
    <li><a href="/">Home</a></li>
  <li>
      <a href="/articles/" class="icon solid fa-angle-down">Articles</a>
      <ul>
        <li><a href="/articles/">All Articles</a></li>
        <li><a href="/categories/">Categories</a></li>
        <li><a href="/articles/popular/">Most Popular</a></li>
      </ul>
    </li>

    <li><a href="/reviews/">Reviews</a></li>
    <li><a href="/products/">Products</a></li>
    <li><a href="/videos/">Videos</a></li>
    <li>
      <a href="/about/" class="icon solid fa-angle-down">About</a>
      <ul>
        <li><a href="#">Option One</a></li>
        <li><a href="#">Option Two</a></li>
        <li><a href="#">Option Three</a></li>
      </ul>
    </li>
  </ul>
</nav>
