---
siteTitle: The Fumbly Workshop
---

<!DOCTYPE HTML>
<!--
	Relativity by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>

<head>
  {% if page.url == '/' %}
  <title>{{ siteTitle }}</title>
  {% else %}
  <title>{{ title }} | {{ siteTitle }}</title>
  {% endif %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/assets/css/scott.css" />
</head>

<body class="is-preload">
  <div id="wrapper">
    {% include 'header.html' %}
    {{ content }}
    {% include "footer.html" %}
  </div>
  {% include 'page-scripts.html' %}
</body>

</html>