---
layout: base
---

<section class="main">
  <header>
    <h1>{{ title }}</h1>
    {%- if heroText != blank %}
    <div class="box">
      {{ heroText }}
    </div>
    {%- endif %}
  </header>
  <div class="inner">
    {%- if headerImage != blank %}
    <div class="image main" data-position="center"><img src="{{ headerImage }}" alt="Header image" /></div>
    {%- endif %}
    {{ content }}
  </div>
</section>