---
layout: base
---

<section class="main">
  <header>
    <h1>{{ title }}</h1>
    {%- if heroText != blank %}
    <div class="box">
      {{ heroText }}
    </div>
    {% endif %}
  </header>
  <div class="inner">
    {{ content }}
  </div>
</section>