.generated {
  border-radius: 5px;
  padding: 3px;
  background: #eee;
  font-size: 0.5rem;
  color: black;
  border: 1px solid #999;
  position: relative;
  top: -1px;
}

table td {
  width: 50%;
}

picture .image.fit {
  max-width: 100%;
  height: auto;
}

picture img[width] {
  width: auto;
}

p {
  margin: 0 0 1rem 0;
}

#wrapper>.main>.inner.style2 {
  padding: 0 4rem 3rem 4rem;
}

#wrapper>.main>.inner.style2>.image.main:first-child {
  top: -1.5rem;
}

ul.posts {
  list-style: none;
  text-indent: -1rem;
}

ul.posts h4 {
  margin: 0 0 0.3rem 0;
}

ul.posts p {
  text-indent: 0;
}

.attributions {
  font-size: 0.8rem;
}

.attributions h3 {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}


.image.right.coffee {
  max-width: 290px;
}

.image.right.coffee p {
  margin: 0.5rem 0.5rem 1rem 1rem;
  line-height: 1.4;
}

/* section.attributions {
  padding: 2rem 3rem 0.5rem 3rem;
} */

#wrapper>.main {
  padding: 2rem 3rem 0.5rem 3rem !important;
}

/*********************************
 Details styling
 For collapsible sections (page-links)
*********************************/

details {
  border: 1pt solid #ddd;
  border-right: 0;
  border-left: 0;
  margin-bottom: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

details ol {
  list-style: decimal;
  margin: 0.7rem 0 1em 0;
  padding-left: 1.25em;
}

/**********************************
 text-image block
 Added 2026-07-18 
 **********************************/

.text-image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
  align-items: center;
}

.caption {
  margin-top: -1.8rem;
  font-style: italic;
  font-size: 0.9rem;
}

/*************************************
  What it Means (WIM) block
 *************************************/

div.wim {
  padding: 1.5rem 1.5rem 1.8rem 1.5rem;
  margin: 1.5rem 4rem 1.6rem 1.5rem;
  background: #f5f5f5;
  border: 2pt solid #ccc;
  box-shadow: 5px 5px 5px #eee;
}

div.wim h3 {
  margin: 0 0 0.6rem;
}

div.wim p {
  margin: 0;
}