---
layout: generic
title: YouTube Videos
heroText:
eleventyNavigation:
  key: Videos
  order: 5
---

Visit the Fumbly Workshop on <a href="https://www.youtube.com/channel/UCNxIOIfb_-cwPUgpNKrmmzg" target="_blank">YouTube</a>.<br />

{% if videos.length > 0 %}
<table>{% tablerow video in videos cols:2 %}
  <h4><a href="https://www.youtube.com/watch?v={{ video.videoID }}" target="_blank">{{ video.title }}</a></h4>
  <p>Created: {{ video.date | dateOnly }}</p>
  {%- if video.description %}
  <p>{{ video.description }}</p>
  {%- endif %}
  {% endtablerow %}
</table>
{% else %}
<hr />
<p>No video data to display.</p>
{% endif %}
